.panes {
    position: relative;
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

.mbr-section-nopadding {
    padding-top: 0;
    padding-bottom: 0;
}

/**********************************

MA VIDEO EN INTRO

**********************/

* {
    padding: 0;
    margin: 0;
}
body,
html {
    height: 100%;
    min-height: 100%;
}

#video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#introvideo {
    filter: blur(5px) brightness(80%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.logo {
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
}


/********************

Mouse SCROLL ANIMATION

*******************/

.mouse_scroll {
    display: block;
    width: 24px;
    height: 100px;
    margin: auto;
}

.m_scroll_arrows {
    display: block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    margin: 0 0 5px 9px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}


.mouse {
    height: 52px;
    width: 34px;
    border-radius: 17px;
    border: 2px solid #ffffff;
}

.wheel {
    height: 17px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;

    border: 2px solid #ffffff;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
        transform: translateY(16px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/*******************
 *         MAPS
 *********************/
@-webkit-keyframes mapCircleLoading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes mapCircleLoading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.map,
.mbr-google-map {
    height: 400px;
}


.map {
    position: relative;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.map [data-state-details] {
    color: #6b6763;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.25rem;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.map[data-state] {
    background: #e9e5dc;
}

.map[data-state="loading"] [data-state-details] {
    display: none;
}

.map[data-state="loading"]::after {
    content: "";
    -webkit-animation: mapCircleLoading .6s infinite linear;
    animation: mapCircleLoading .6s infinite linear;
    border-radius: 50%;
    border: 6px rgba(255, 255, 255, 0.35) solid;
    border-top-color: #fff;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
}

